*{
    background: yellow;
}
* span {
    font-size: 20px;
    color: red;
    font-family: 'Times New Roman', Times;
}
 * button {
    font-size: 15px;
    color: black;
    font-family: 'Times New Roman', Times;
    background: yellowgreen;
}